.app {
  display: flex;
  height: 100vh;
  border-top: 1px solid black;
}

.sidebar {
  width: 25%;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.chat-view {
  width: 75%;
  padding: 20px;
}

.conversation-list {
  list-style: none;
  padding: 0;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}

.popup div {
  cursor: pointer;
  padding: 5px;
}

.popup div:hover {
  background: #f0f0f0;
}

.no-conversation > p , .chat-messages p {
  border: 1px solid cornflowerblue;
  padding: 10px;
  background-color: antiquewhite;
}

.conversation-item p{
  border: 1px solid rgb(207, 225, 101);
  padding: 5px;
  background-color: rgb(89, 229, 166);
  margin-top: 5px;
}

.conversation-item h5{
  margin-bottom: -2px;
}